/* AdminDashboard.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Pentru a ocupa întregul ecran */
  background-color: #f5f5f5;
  padding: 20px;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.addButton {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: 200px;
  text-align: center;
}

.addButton:hover {
  background-color: #218838;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.inputField {
  padding: 12px;
  font-size: 1.1rem;
  margin-bottom: 15px;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.submitButton {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

.submitButton:hover {
  background-color: #0056b3;
}

.schoolListTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.schoolList {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.schoolList li {
  font-size: 1.2rem;
  color: #333;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.deleteButton {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  background-color: #c82333;
}
