/* src/components/Landing.module.css */
.landingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
}

.welcomeMessage {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.instructions {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

select {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
