/* src/components/LoginForm.module.css */
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Asigură-te că acest stil este corect */
  width: 100vw; /* Asigură-te că formularul ocupă întreaga lățime a ecranului */
  background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.loginForm {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputField {
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.submitButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 14px;
}
